*{
    font-family: 'Poppins', sans-serif;
}
.h-font{
    font-family: 'Merienda', cursive;
}
.custom-bg{
  background-color: var(--teel);
  border: 1px solid var(--teel);
}
  .custom-bg:hover{
  background-color: var(--teel_hover);
  border: 1px solid var(--teel_hover);
}
.h-line{
  width: 150px;
  height: 1.7px;
  margin: 0 auto;
}
.custom-alert{
  position: fixed;
  top: 80px;
  right: 25px;
}
#dashboard-manu{
  position: fixed;
  height: 100%;
  z-index: 11;
}
@media screen and (max-width: 991px){
  #dashboard-manu{
  width: 100%;
  height: auto;
}
#main-content{
  margin-top: 60px;
}
}
